VITE_SUPABASE_URL=https://fdkwrivlqwyctismttqd.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZka3dyaXZscXd5Y3Rpc210dHFkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODIyMDcyMjMsImV4cCI6MjA5Nzc4MzIyM30.l-U4OiKfDjfbxEtFE7zCRFmRGjxoRE78KkrI75NLJBA
